.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .contents {
    align-self: center;
    font-size: 1.2rem;
    h1 {
      font-size: 8em;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 1rem !important;
    }
    h2 {
      font-size: 1.8em;
      font-weight: 600;
    }
  }

  &.notFound {
    background-color: darken(#767676, 25);
    color: #fff;
    .contents {
      p {
        color: lighten(#767676, 20);
      }
    }
  }

  &.forbidden {
    background-color: rgb(129, 61, 58);
    color: #fff;
    .contents {
      p {
        color: lighten(#767676, 20);
      }
    }
  }
}
